@import '../../variables.scss';

.learningRoute-section {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hide-offset {
  position: absolute;
  left: -9999px;
}

.hide-offset-partial {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0.05em;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: '';
  top: 0;
  border: none;
  left: 0;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;

  div {
    flex: 1 0 auto;
    font-size: 24px;
    padding: 0 2rem;
  }
  .totalscore {
    flex-grow: 3;
    font-size: 36px;
  }
}

.incorrect-count {
  color: $color-primary;
}
.correct-count {
  color: $color-secondary;
}

.totalscore {
  font-size: 36px;
}

.word {
  font-size: 64px;
  position: relative;
  //border: 2px solid black;
}

.guess-form {
  display: flex;
  flex-direction: column;

  fieldset {
    margin: 0 auto;
  }

  label {
    visibility: hidden;
  }
  input {
    margin: 0 auto;
    text-align: center;
    width: 4rem;
  }
}

/* .word-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.word-translation {
  font-size: 48px;
} */

.word-response::after {
  content: attr(data-decoded);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50%;
}

.DisplayFeedback {
  font-size: 24px;
}

.next-button {
  font-size: 12px;
  height: 3rem;
  position: relative;
}

.correct-button {
  color: $color-secondary;
  background-color: $color-secondary;

  &:hover {
    color: $color-background;
    background-color: $color-background;
  }
  &:focus {
    color: $color-background;
    background-color: $color-background;
  }
  &:active {
    color: $color-secondary;
    background-color: $color-secondary;
  }

  &:hover::after {
    color: $color-secondary;
    background-color: $color-background;
  }

  &:focus::after {
    color: $color-secondary;
    background-color: $color-background;
  }
  &:active::after {
    color: $color-background;
    background-color: $color-secondary;
  }
}

.correct-button::after {
  font-size: 24px;
  content: 'Correct!';
  color: $color-background;
  background-color: $color-secondary;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}

.wrong-button {
  color: $color-primary;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  &:hover {
    color: $color-background;
    background-color: $color-background;
  }
  &:focus {
    color: $color-background;
    background-color: $color-background;
  }
  &:active {
    color: $color-background;
    background-color: $color-background;
  }

  &:hover::after {
    color: $color-primary;
    background-color: $color-background;
  }
  &:focus::after {
    color: $color-primary;
    background-color: $color-background;
  }
  &:active::after {
    color: $color-background;
    background-color: $color-primary;
  }
}
.wrong-button::after {
  font-size: 24px;
  content: 'Wrong!';
  color: $color-background;
  background-color: $color-primary;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}

@media only screen and (min-width: 520px) {
  .learningRoute-section {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1600px) {
  .learningRoute-section {
    width: 50%;
  }
}
