@import '../../variables.scss';

button {
  padding: 0.3rem 1rem;
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 2px solid $color-secondary;
  background-color: $color-background;

  &:hover {
    cursor: pointer;
  }
}
