@import '../../variables.scss';

input {
  border: none;
  border-bottom: 2px solid $color-inactive;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none !important;
  background-color: $color-background;

  &:active {
    border-bottom: 2px solid $color-secondary;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid $color-secondary;
  }
}
