.App {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  flex-grow: 1;
  width: 100%;
  padding: 0.4rem 0.4rem;
}

section {
  padding: 0rem 0rem;
  height: 100%;
}

.login-registration-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;

  > p {
    position: relative;
    margin: 3rem auto;
    font-size: 20px;
    text-align: center;
    // display: inline-block;
    // flex-grow: 1;
  }

  > span {
    position: relative;
    margin: 3rem auto;
    font-size: 20px;
    text-align: center;
  }

  /* form {
    flex-grow: 1;
  } */
}

@media only screen and (min-width: 520px) {
  section {
    padding: 0.5rem 0.5rem;
  }
  main {
    padding: 1rem 1rem;
  }
}

@media only screen and (min-width: 768px) {
  section {
    padding: 1rem 1rem;
  }
  main {
    padding: 2rem 2rem;
  }
}

@media only screen and (min-width: 1600px) {
  section {
    padding: 2rem 2rem;
  }
}
