@import '../../variables.scss';

.dashboard-section {
  text-align: center;
  margin: 0;
  padding: 0;
}
.dashboard-header {
  padding: 1em 2em;
  /*   display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; */

  h3 {
    visibility: hidden;
    position: relative;
    margin-bottom: 2rem;
    line-height: 2rem;

    &::after {
      visibility: visible;
      position: absolute;
      content: 'Letters to practice';
      left: 50%;
      transform: translateX(-50%);
      text-align: middle;
      margin: 0 auto;
      white-space: nowrap;
      display: inline-block;
      width: 100%;
      padding: 1rem auto;

      border-bottom: 2px solid $color-secondary;
    }
  }

  h4 {
    max-width: 50%;
    margin: 0 auto;
  }
}

.practice-link {
  display: inline-block;
  padding: 0.3rem 1rem;
  margin: 2rem 1rem;
  font-size: 1.2rem;
  border: 2px solid $color-secondary;
  color: $color-font-normal;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  background-color: $color-background;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $color-background;
    background-color: $color-tertiary;
    border: 2px solid $color-font-normal
  }
  &:focus {
    color: $color-background;
    background-color: $color-tertiary;
    border: 2px solid $color-font-normal
  }
}

.word-list {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.word-info-card {
  width: 200px;
  width: 90%;
  position: relative;
  border-bottom: 2px solid $color-inactive;
  display: flex;
  flex-wrap: no-wrap;
  margin: 0.5rem 1rem;

  div {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // min-width: 0;
  }

  .incorrect-count {
    flex: 0 1 auto;
    // max-width: calc(100% / 3);
    min-width: 3rem;
    font-size: 0;
    // visibility: hidden;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: '';
    color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      // position: absolute;
      // display: inline-block;
      // font-size: 5px;
      // text-indent: -9999px;
      // overflow: auto;
    }

    p::after {
      font-size: 18px;
      visibility: visible;
      content: attr(data-count);
      display: inline-block;
      position: absolute;
      left: 1rem;
    }
  }

  .correct-count {
    flex: 0 1 auto;
    // max-width: calc(100% / 3);
    min-width: 3rem;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: '';
    color: $color-quaternary;
    
    p {
      // position: absolute;
      // display: inline-block;
      // font-size: 5px;
      // text-indent: -9999px;
      // overflow: auto;
    }

    p::after {
      font-size: 18px;
      visibility: visible;
      content: attr(data-count);
      display: inline-block;
      position: absolute;
      right: 1rem;
    }
  }

  .word {
    flex-grow: 2;
    font-size: 28px;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 520px) {
  .word-info-card {
    width: 35%;
  }

  .dashboard-header {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media only screen and (min-width: 800px) {
  .word-info-card {
    width: 20%;
  }

  .dashboard-header > h3::after {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .word-info-card {
    width: 15%;
  }
}

@media only screen and (min-width: 1600px) {
  .word-info-card {
    width: 10%;
  }
}
