@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Space+Mono&display=swap');
@import './variables.scss';

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Fira Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $color-font-normal;
  background-color: $color-background;
}

:root {
  --font-size: calc(10px + 1vmin);
}

a {
  color: $color-secondary;
}
